:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --link-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-rgba: rgba(33, 150, 243, 0.90);
  --logo-text-color: #000;
  --primary-whyte-color: #fff;
  --secondery-bg-color: #2f303a;
  --secondary-list-bg-color: #f5f4fa;
  --todo-h3-background-color: rgba(47, 48, 58, 0.80);

  --modal-backdrop-color: rgba(0, 0, 0, 0.20);
  --modal-closse-button-color: rgba(0, 0, 0, 0.10);
  --modal-form-input-border-color: rgba(33, 33, 33, 0.20);
  --modal-form-comment-plaseholder-color: rgba(117, 117, 117, 0.50);

  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-social-color: rgba(255, 255, 255, 0.10);
  --footer-form-input-text-color: rgba(255, 255, 255, 0.60);
  --footer-form-input-border-color: rgba(255, 255, 255, 0.30);
  --footer-form-input-shadow-color: rgba(0, 0, 0, 0.15);

  --border-portfolio-color: #eee;
  --page-header-border-color: #ececec;

  --social-icon-color: #afb1bb;
}

body {
  background-color: var(--primary-whyte-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, p {
  margin: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
    
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link,
.link:visited {
  color: var(--link-text-color);
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.active {
  color: var(--accent-color);
  position: relative;
}
.link.active::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 4px;

  background-color: var(--accent-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.page-header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--page-header-border-color);
}

/* Logo style */
.logo {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
  color: var(--logo-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--logo-text-color);
}

.logo>span {
  color: var(--accent-color);
}

/* Site-nav style */
.site-nav {
  display: flex;
}

.site-nav li {
  margin-right: 50px;
}
.site-nav li:last-child {
   margin-right: 0;
 }

.link-nav {
  display: block;    
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

/* Site adress in headers style */
.site-adress {
  display: flex;
  margin-left: auto;
}

.site-adress li {
  margin-right: 40px;
}
.site-adress li:last-child {
  margin-right: 0;
}

.site-adress .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-header {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);

  font-weight: 500;
  letter-spacing: 0.28px;
}

.contact-icon {
  fill: currentColor;

  margin-right: 10px;
}

/* Hero style */
.hero {
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: rgba(47, 48, 58);
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)),
    url(../image/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
}

.hero .container {
  display: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--primary-whyte-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.button-hero {
  padding: 10px 24px;
  min-width: 200px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--primary-whyte-color);

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;
}

/* Modal window style */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop-color);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;;
  height: 581px;

  padding: 40px;

  border-radius: 4px;
  background-color: var(--primary-whyte-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: var(--primary-whyte-color);
  border: 1px solid var(--modal-closse-button-color);
  border-radius: 50%;
  
  outline: none;
}

.closse-button {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);

  fill: var(--logo-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  pointer-events: none;
}

.close-modal:hover .closse-button,
.close-modal:focus .closse-button {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/* Modal form style */
.modal-title {
  color: var(--title-text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;

  margin-bottom: 12px;
}

.form-modal {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-label {
  display: block;
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.12px;
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  fill: var(--link-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 12px 12px 12px 42px;

  outline: none;

  border: 1px solid var(--modal-form-input-border-color);
  border-radius: 4px;

  font-size: 16px;

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:hover + .form-icon, 
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.comment-label {
  margin-bottom: 20px;
}

.comment {
  width: 100%;
  height: 120px;
  resize: none;

  padding: 12px 16px;

  outline: none;

  border: 1px solid var(--modal-form-input-border-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:hover,
.comment:focus {
  border-color: var(--accent-color);
}

.comment::placeholder {
  color: var(--modal-form-comment-plaseholder-color);
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.12px;
}

.confirmed-label {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}

.input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  outline: none;
}

.icon-check {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  outline: 2px solid var(--link-text-color);
  outline-offset: -1px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:focus + .icon-check {
  outline: 2px solid var(--accent-color);
}

.input-checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  outline: 2px solid var(--accent-color);
}

.checkbox-icon {
  fill: var(--primary-whyte-color);
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.input-checkbox:checked + .icon-check .checkbox-icon {
  opacity: 1;
}

.policy-desc {
  line-height: 1.714;
  letter-spacing: 0.42px;
}


.policy-link,
.policy-link:visited {
  color: var(--accent-color);
}


.button-form {
  width: 200px;
  height: 50px;

  padding: 10px 0;
  margin: 0px auto 0px auto;

  background-color: var(--accent-color);
    
  border: 1px solid transparent;
  border-radius: 4px;
    
  color: var(--primary-whyte-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;
}

/* Section  style */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-section {
  padding-bottom: 0px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

/* Advantages style */
.advantages-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.advantages-list li {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-icon-block {
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-list-bg-color);

  border-radius: 4px;
}

.advantages-titles {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantages-paragraph {
  line-height: 1.7;
  letter-spacing: 0.42px;
}

/* To Do  style*/
.todo-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.todo-list li { 
  flex-basis: calc((100% - 60px) / 3);

  position: relative;
}

.todo-h3 {
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: var(--todo-h3-background-color);
  color: var(--primary-whyte-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  position: absolute;
  bottom: 0px;
  left: 0px;

  text-align: center;

  width: 100%;
}

/* Team style */
.team-section {
  background-color: var(--secondary-list-bg-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list .team-item {
  background-color: var(--primary-whyte-color);
  flex-basis: calc((100% - 90px) / 4);

  color: var(--primary-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-title {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-description > p {
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-list li {
  flex-basis: calc((100% - 30px) / 4);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  color: var(--social-icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: none;
}

.social-link:hover, 
.social-link:focus {
  background-color: var(--accent-color);

  color: var(--primary-whyte-color);
}

.social-icon {
  fill: currentColor;
}

/* Clients style */
.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list li {
  text-align: center;
  flex-basis: calc((100% - 150px) / 6);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;

  color: var(--social-icon-color);

  border: 1px solid var(--social-icon-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: none;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}


/* Footer style */
footer {
  background-color: var(--secondery-bg-color);

  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;

  padding-top: 60px;
  padding-bottom: 60px;
}

footer .container {
  display: flex;
  align-items: baseline;
}

footer .container div {
    margin-right: 94px;
}
footer .container div:last-child {
  margin-right: 0px;
}

footer .logo {
  display: inline-block;
  margin-bottom: 28px;
  line-height: normal;
  color: var(--primary-whyte-color);
}
footer .logo:hover,
footer .logo:focus {
  color: var(--primary-whyte-color);
}

.contact-footer {
  color: var(--footer-text-color);
}

address {
  font-style: normal;
  color: var(--primary-whyte-color);
}

address > span {
  display: inline-block;
  margin-bottom: 12px;

  line-height: 1.1;
  letter-spacing: 0.42px;
}

.addres-list {
  line-height: 1.1;
  letter-spacing: 0.42px;
}

.addres-list li {
  margin-bottom: 12px;
}
.addres-list li:last-child {
  margin-bottom: 0px;
}

.footer-title {
  color: var(--primary-whyte-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.social-footer-list {
  padding-left: 0;
  padding-right: 0;
}

.social-footer-link {
  width: 44px;
  background-color: var(--footer-social-color);
}

.social-footer-icon {
  fill: var(--primary-whyte-color);
}

/* Newsletter style */
.newsletter {
  width: 100%;
}
.newsletter-form {
  display: flex;
  width: 100%;
}
.newsletter-form input {
  flex-grow: 1;
  padding: 15px 16px;

  border-radius: 4px;
  border: 1px solid var(--footer-form-input-border-color);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px var(--footer-form-input-shadow-color);


  color: var(--footer-form-input-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.48px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-form input:hover,
 .newsletter-form input:focus,
 .newsletter-form input:not(:placeholder-shown) {
  border-color: var(--accent-color);
  color: var(--primary-whyte-color);
}

.newsletter-form button {
  flex-basis: 200px;

  display: flex;
  justify-content: center;
  align-items: center;


  margin: 0 0 0 12px;

  cursor: pointer;
}

.newsletter-button-icon {
  margin-left: 10px;
  fill: var(--primary-whyte-color);
}

/* ======   Portfolio style   ==================================== */

/* Portfolio filter stile */
.portfolio-filter {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  justify-content: center;
}

.portfolio-filter li {
  margin-right: 8px;
}

.portfolio-filter li:last-child {
  margin-right: 0;
}

.button-filter {
  min-width: 67px;
  padding: 6px 22px;
  background-color: var(--secondary-list-bg-color);

  color: var(--link-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--primary-whyte-color);
  background-color: var(--accent-color);

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.button-filter.active {
  background-color: var(--accent-color);
  color: var(--primary-whyte-color);
}

/* Portfolio images style */
.portfolio-list {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}

.portfolio-list li {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.48px;

  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-list .portfolio-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-link .box {
    position: relative;
    overflow: hidden;
}

.portfolio-link .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color-rgba);

  transform: translatey(100%);
  transition: transform 250ms ease-in-out;

  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
}

.portfolio-link:hover .overlay {
  transform: translatey(0);
}

.portfolio-link .overlay p {
  color: var(--primary-whyte-color);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.54px;
}



.portfolio-description {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid var(--border-portfolio-color);
  border-right: 1px solid var(--border-portfolio-color);
  border-bottom: 1px solid var(--border-portfolio-color);
}

.portfolio-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.portfolio-text {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.48px;
}

