:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --link-text-color: #212121;
  --accent-color: #2196f3;
  --logo-text-color: #000;
  --primary-whyte-color: #fff;
  --secondery-bg-color: #2f303a;
  --secondary-list-bg-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --border-portfolio-color: #eee;
  --page-header-border-color: #ececec;
}

body {
  background-color: var(--primary-whyte-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, p {
  margin: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
    
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link,
.link:visited {
  color: var(--link-text-color);
  text-decoration: none;
  font-style: normal;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.active {
  color: var(--accent-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.page-header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--page-header-border-color);
}

/* Logo style */
.logo {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
  color: var(--logo-text-color);
}

.logo>span {
  color: var(--accent-color);
}

/* Site-nav style */
.site-nav {
  display: flex;
}

.site-nav li {
  margin-right: 50px;
}
.site-nav li:last-child {
   margin-right: 0;
 }

.link-nav {
  display: block;    
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

/* Site adress in headers style */
.contact-header {
  color: var(--primary-text-color);
  font-weight: 500;
}

.site-adress {
  display: flex;
  margin-left: auto;
}

.site-adress li {
  margin-right: 40px;
}
.site-adress li:last-child {
  margin-right: 0;
}

.site-adress .link {
  padding-top: 32px;
  padding-bottom: 32px;
}


/* Hero style */
.hero {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--secondery-bg-color);

  display: flex;
  align-items: center;
}

.hero .container {
  display: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--primary-whyte-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.button-hero {
  padding: 10px 24px;
  min-width: 200px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--primary-whyte-color);

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;
}

/* Section  style */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-section {
  padding-bottom: 0px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

/* Advantages style */
.advantages-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.advantages-list li {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-titles {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantages-paragraph {
  line-height: 1.7;
  letter-spacing: 0.42px;
}

/* To Do  style*/
.todo-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.todo-list li { 
  flex-basis: calc((100% - 60px) / 3);
}

/* Team style */
.team-section {
  background-color: var(--secondary-list-bg-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list .team-item {
  background-color: var(--primary-whyte-color);
  flex-basis: calc((100% - 90px) / 4);

  color: var(--primary-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

/* Footer style */
footer {
  background-color: var(--secondery-bg-color);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;

  padding-top: 60px;
  padding-bottom: 60px;
}

footer .logo {
  display: inline-block;
  margin-bottom: 28px;
  color: var(--primary-whyte-color);
}

.contact-footer {
  color: var(--footer-text-color);
}

address {
  font-style: normal;
  color: var(--primary-whyte-color);
}

address > span {
  display: inline-block;
  margin-bottom: 12px;
}

.addres-list {
  line-height: 1.1;
  letter-spacing: 0.42px;
}

.addres-list li {
  margin-bottom: 12px;
}
.addres-list li:last-child {
  margin-bottom: 0px;
}

/* ======   Portfolio style   ==================================== */

/* Portfolio filter stile */
.portfolio-filter {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  justify-content: center;
}

.portfolio-filter li {
  margin-right: 8px;
}

.portfolio-filter li:last-child {
  margin-right: 0;
}

.button-filter {
  min-width: 67px;
  padding: 6px 22px;
  background-color: var(--secondary-list-bg-color);

  color: var(--link-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--primary-whyte-color);
  background-color: var(--accent-color);
}

.button-filter.active {
  background-color: var(--accent-color);
  color: var(--primary-whyte-color);
}

/* Portfolio images style */
.portfolio-list {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}

.portfolio-list li {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.48px;

  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-description {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid var(--border-portfolio-color);
  border-right: 1px solid var(--border-portfolio-color);
  border-bottom: 1px solid var(--border-portfolio-color);
}

.portfolio-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.portfolio-text {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.48px;
}