.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
}

.photo-card {
  flex-basis: calc((100% - 45px) / 4);
  display: flex;
  flex-direction: column;

  & a {
    flex: 1;
    display: block;
    width: 100%;
    overflow: hidden;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.info {
  font-size: 12px;

  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;

  & p {
    text-align: center;
  }
  & p b {
    display: block;
    margin-bottom: 10px;
  }
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 25px auto;
  color: #202020;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}
