.breed-select {
  max-width: 250px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.error {
  color: #e74c3c;
  font-size: 25px;
  font-weight: 600;
}

.cat-info img {
  max-width: 100%;
  margin-right: 10px;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 25px auto;
  color: #202020;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}
