/* Logo style */
.logo {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
  color: var(--primary-black-color);

  &:hover,
  &:focus {
    color: var(--primary-black-color);
  }
}

.logo__blue-text {
  color: var(--accent-color);
}

// footer logo
.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
  line-height: normal;
  color: var(--primary-whyte-color);

  &:hover,
  &:focus {
    color: var(--primary-whyte-color);
  }
}
